@keyframes outline {
  from {
    stroke-dashoffset:100%;
  }
  to {
    stroke-dashoffset:0;
  }
}

@keyframes fill {
  from {
    fill-opacity: 0;
  }
  to {
    fill-opacity: 1;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
